<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Страница пользователя</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
    <nav class="navbar navbar-dark bg-dark">

        <div class="col-8"></div>
        <div class="col-2">
            <a class="btn btn-outline-success"  href="/logout">Logout</a>
        </div>
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-xl-2">
                <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <a class="nav-link active" id="v-pills-user-tab" data-toggle="pill" href="#" role="tab" aria-controls="v-pills-user" aria-selected="true">User</a>
                </div>
            </div>
            <div class="col-10">
                <div class="tab-content" id="v-pills-tabContent">
                    <h2>User information page</h2>
<!--                    <div class="tab-pane fade active" id="v-pills-user" role="tabpanel" aria-labelledby="v-pills-user-tab">-->
<!--                        <div class="tab-content">-->
<!--                            <div role="tabpanel" class="tab-pane active" id="user">-->
<!--                                <div class="alert alert-dark">User</div>-->
                    <form action="/user"  >
                                <table class="table">
                                    <thead class="thead-dark">
                                        <tr>
                                            <th scope="col">id</th>
                                            <th scope="col">Логин</th>
                                            <th scope="col">Пароль</th>
                                            <th scope="col">Имя</th>
                                            <th scope="col">Фамилия</th>
                                            <th scope="col">Город</th>
                                            <th scope="col">Возраст</th>
                                            <th scope="col">Роль</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                            <th scope="row"  th:text="${user.id}"></th>
                                            <td th:text="${user.email}"></td>
                                            <td th:text="${user.password}"></td>
                                            <td th:text="${user.name}"></td>
                                            <td th:text="${user.surname}"></td>
                                            <td th:text="${user.city}"></td>
                                            <td th:text="${user.age}"></td>
                                            <td>
                                                <li th:each="role : ${user.roleSet}">
                                                    <span th:text="${role.rolesName}">Роль</span>
                                                </li>
                                            </td>

                                     </tr>
                                    </tbody>
                                </table>
<!--                            </div>-->
<!--                         </div>-->
<!--                    </div>-->
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

</body>
</html>